hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #E27D60;
    margin: 1em 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
}


.wrapper {
    min-height: 100%;
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -100px;
} 


.my-navbar {
    padding-top: 15px;    
}

.my-brand-box {
    margin: -15px 0px -25px 0px !important;
    padding: 21px 40px 15px 40px !important;
    background-color: #E8A87C; 
    /* 89, 170, 165 */
}

.my-brand-text {
    color: white; 
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30px;
}

.my-nav-link {
    color: #E8A87C !important;
}

#background {
    background-image: url("/Assets/Images/brushed-alum.png");
    background-color: #fcfcfc;
    min-height: 1024;
    min-width: 100%;
    width: 100%;
    z-index: -1;
}


.first-content-section{
    padding-top: 30px;
    padding-bottom: 100px;
}

.section-header{
    display: block;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 20px;
    margin-right: 0;
    color: #41B3A3;
    /* color:#59aaa5; */
    
}

.about-me-image{
    width:200px;
    height:150px;
    margin-right:10px;
}


.my-grid-image{
    padding: 20px 10px 20px 10px;
}


/* Centered text image text */
.centered {
    position: absolute;
    top: 80%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: white;
    background: #E8A87C;
    padding: 10px 20px 10px 20px;
        
}

.footer{
    height: 100px;
}

.footer-row-one{
    height: 10px;
    background-color:#C38D9E;
}
.footer-row-two{
    height: 90px; 
    padding-top: 15px; 
    background-color: #E8A87C; 
    color:black;
}

@media (max-width: 769px) { 
    .about-me-image{
        width: 50%;
        height: auto;
    }

    .my-grid-image{
        padding-top:20px;
        padding-bottom:10px;
        width: 100%;
    }
 }

 @media (max-width: 641px) { 
     .about-me-image{
         width: 100%;
         height: auto;
     }
 }